body{
  margin: 0;
}
h1{
  margin-top: 0;
  padding: 20px;
}
div {
 background-color: lightblue;
 padding: 20px;
 width: 200px;
 height:200px;
 border: solid 10px;
}
.top{
  background-color: red;
  height:200px;
  width:200px;
  margin-left: 260px;
  border: solid 20px;
}
.bottom{
  background-color:
  yellow;
  height:200px;
  width:200px;
  margin-left: 540px;
  border: solid 10px;
}
